#titulo{
    text-align: center; 
    color: white;  
}

#text_title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: white;
   
}
#img{
    width:1400px;
   height: 600px; 
   text-align: center;

}

.sub_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(27, 27, 221)
    
}

p{
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: white;
    
}

body{
    background-color: black;
}
#plan{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

footer{
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
